<footer class="kc-footer">
  <div class="kc-footer-section">
    <h3 class="logo">KioskCloud</h3>
    <p>support&#64;afribook.com</p>
    <p>4 Silvanway Drive, Biyoi<br>Lagos, Nigeria 332211</p>
    <div class="kc-social-icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
    </div>
  </div>

  <div class="kc-footer-section">
    <h4>Author</h4>
    <ul>
      <li><a href="#">Publish</a></li>
      <li><a href="#">Stats</a></li>
    </ul>
  </div>

  <div class="kc-footer-section">
    <h4>Reader</h4>
    <ul>
      <li><a href="#">My Library</a></li>
      <li><a href="#">My Orders</a></li>
      <li><a href="#">Genres</a></li>
    </ul>
  </div>

  <div class="kc-footer-section">
    <h4>Support</h4>
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">Authors T&C</a></li>
      <li><a href="#">Readers T&C</a></li>
    </ul>
  </div>
</footer>
