body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
}

.form-box {
  width: 400px;
  padding: 30px;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  text-decoration: none;
  color: #444;
}

.btn {
  width: 100%;
  background-color: #547a60;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.signup-link a {
  color: #547a60;
  text-decoration: none;
  font-weight: 500;
}

.image-box {
  padding: 60px;
}

.image-box img {
  max-width: 350px;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 0px;
  top: 35%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: #666;
  transition: color 0.3s ease;
}

.eye-icon:hover {
  color: #333;
}

.eye-icon svg {
  vertical-align: middle;
}

